
<style media="screen">
.bgimg-2{
  position: relative;
line-height: 1.6;
font-family: "Lato",sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:100px;
  min-height: {{section.settings.picheight}}px;
  background-image:url('{{section.settings.pal_img  | img_url: '2048x' }} ');

}


</style>

   <div class="col-md-12 bgimg-2" data-aos="fade-up-left">
       <div>
         <h1 class="border caption" style="font-size:25px;color:#703b97;">PLAN THE ULTIMATE</h1>
       </div>
     <div>
       <h1 class="border caption2" style="font-size:25px;color:#703b97;">BABYSHOWER</h1>
     </div>
     <div>
					<p class="text-center btn-p"><a href="{{section.settings.buttonurl}}" class="mybtnlink">
						Begin Now
					</a></p>
				</div>
   </div>

{% schema %}
{
  "name":"parallax",
  "settings":[

  {
        "type": "image_picker",
        "id": "pal_img",
        "label": "Image"
      },
      {
            "type": "url",
            "id": "buttonurl",
            "label": "Hyperlink"
          },
      {
        "type": "range",
        "id": "picheight",
        "min": 50,
        "max": 1000,
        "step": 50,
        "unit": "px",
        "label": "background Height",
        "default": 450
          }
  ],
"presets":[
{
"name":"parallax",
"category":"parallax"
}
]

}

{% endschema %}
