<!-- /templates/page.liquid -->
{{ content_for_page }}
<div class="grid container-fluid page-container">

  <div class="row">

<h1>{{ page.title }}</h1>

   {% section 'faq-header' %}
   
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
